html{
    font-size: 10px; /*root font size*/
    color: #4d4d4d;
}

main{
    max-width: 50rem; /*  50 x root font size = 500px */
    margin: 3rem auto; /*this centres the section along the horizontal axis*/
    background: linear-gradient(#3dc0c0, #5bceae); /*set color to transition btwen two colors*/
    padding: 3rem 1.6rem 6rem 1.6rem; /*clockwise starting with top, right, bottom, then left*/
    border-radius: 4rem;
}

h1{
    text-align: center;
    font-size: 3rem;
    margin: 0; /*h1 element has initial margin so let us remove that*/
    padding-bottom: 3rem; /*to match the padding at the top coming from the main element's padding set above*/
}

section{
    background: white ;
    font-size: 1.8rem;
    padding: 0 1.6rem; /*top and bottom = 0 left and right=1.6*/
    margin-bottom: 1.6rem;
    border-radius: 1rem;
    box-shadow: inset 0 2px 2px lightgray; /*inset value makes the section appear to be indented*/
}

section > div{
/*this targets the direct child elements of the section element which are divs, and not any other divs which may be nested within other elements*/
 padding: 1.6rem 0; /* add padding to top and bottom and not sides, to space out the divs*/

}

.bill {
    display: flex;
   
}

.bill label{
    flex: 1; /* makes label occupy 1x the available space within the div*/
    align-self: center;


}

.bill input{
    flex: 3; /* makes input bar occupy 3x the available space within the div*/
}

input[type="number"]{ /*select only the input element(s) whose type is what's  specified in the " "*/
    background: #f4f4f5;
    font-size: 1.6rem;
    border: 1px solid lightgray; /*clockwise: size, style, color*/
    border-radius: 0.5rem;
    padding: 0.8rem 0rem 0.8rem 0.8rem;
    box-shadow: inset 0 2px 2px lightgray; /*inset value makes the element appear to be indented*/

}

.space-between{
    /*use the class to target the html wrapper elements containing spans which need to be spaced on either end of their containers*/
    display: flex;
    justify-content: space-between; /*use flexbox space-between justification to space out the elements within said wrappers*/
}

.total{
    font-size: 2rem;
    font-weight: bolder;
}